[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypandoc = "*"
requests-html = "*"
lxml = {extras = ["html_clean"], version = "*"}

[dev-packages]

[requires]
python_version = "3"
